<div id="id-hider" class="hide">
  <a href='javascript:void(0)' class='close' data-hide='hiding'>[+]</a>
  <div class="new-id-row" style="display:none">
    新增過濾ID
    <input class="new-id" type="text"></input>
    <button class="new-button">新增</button>
  </div>
</div>

<script src="/js/id-hider.js?<%= Time.now.to_i %>"></script>
