<div id="television" style="display:none">
  <a href="javascript:void(0)" onclick="Television.close()">
    [X]
  </a>
  <video class="video" controls src="/kumiko_1.mp4" style="margin-top:10px;" preload="none">
  </video>
</div>
<script src="/js/television.js?<%= Time.now.to_i %>"></script>
