<div id="television" style="display:none">
  <a href="javascript:void(0)" onclick="Television.close()">
    [X]
  </a>
  <video class="video" controls>
  </video>
</div>
<script src="/js/television.js?<%= Time.now.to_i %>"></script>
