body {
  background-color: #e5eeff;
  color: #1854bf;
}

.head_bar {
  background-color: #e5eeff;
  background: -moz-linear-gradient(top, #e5eeff 90%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #e5eeff 90%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #e5eeff 90%, rgba(255, 255, 255, 0) 100%);
}

.head_block {
  color: #5894ff;
}

#television {
  background-color: #abc9ff;
}

.dialog {
  background-color: #abc9ff;
}

.dialog .title {
  color: #1854bf;
}

.dialog .name {
  color: #1854bf;
}

.reuse, .answer {
  color: #5894ff;
}

.dialog-img-link {
  float: left;
  position: relative;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.dialog_img {
  margin: 0px;
  /*-webkit-filter: grayscale(100%);
  filter: grayscale(100%);*/
  sepia(100%) hue-rotate(180deg) saturate(3)
  -webkit-filter: sepia(100%) hue-rotate(180deg);
  filter: sepia(100%) hue-rotate(180deg);
}

.dialog-img-after {
  position: absolute;
  float: left;
  top: 5px;
  left: 20px;
  right: 20px;
  bottom: 0;
  background-color: rgba(88, 148, 255, 0.5);
}
