<div id="followRes">
  <div style="padding-left: 10px;">
    [<a href="http://rem.komica2.net/00/pixmicat.php?res=<%= resNo %>" target="_blank">開啟本串</a>]
  </div>
  <div id="followHead" is="followBlock" v-for="block in Head" :block="block"></div>
  <div id="followBody" is="followBlock" v-for="block in Bodies" :block="block"></div>
</div>

<script type="text/x-template" id="followBlock">
  <div class="dialog" >
    <div>
      <span>
        <span class="title"><b>{{ block.Title }}</b></span>
        <span class="name"><b>{{ block.Name }}</b></span>
        {{ block.Date }}({{ setupWeekday(block.Date) }}){{ block.Time }}
        ID:{{ block.Id }}
        No.{{ block.No }}</span>
    </div>
    <div v-html="setupPicture(block.Picture)"></div>
    <div class="dialog_content" v-html="setupContent(block.Content)"></div>
  </div>
</script>

<script>
  window.followResNo = <%= resNo %>
</script>
<script src="/js/follow.js?<%= Time.now.to_i %>"></script>
