<style>
  .dialog {
    margin-top: 5px;
    padding: 3px 10px 10px;
    display: inline-block;
    width: 720px;
    background-color: rgb(240, 224, 214);
  }
  .block-container {
    margin: auto;
    width: 740px;
  }
  .dialog_content {
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 540px;
  }
  .dialog_img {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    float: left;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }

</style>

<div id='block-container' class='block-container'></div>

<script>
  var index = 0;
  var weekday = [
    "日",
    "一",
    "二",
    "三",
    "四",
    "五",
    "六"
  ]

  function createDialog(id, block, heads) {
    var then = new Date("20" + block.Date);
    var theday = then.getDay();
    var html = '<div id="dialog' + id + '" class="dialog" style="">';
    html += setupMessage(id, block, heads);
    html += setupData(id, block);
    html += setupPicture(id, block.Picture);
    html += setupContent(id, block.Content);
    html += '</div>';
    return html;
  }

  function showHideContent(id) {
    $('#dialog_show_button' + id).hide();
    $('#dialog_hide_content' + id).show();
  }

  function setupMessage(id, block, heads) {
    var html = '<div style="margin-top:8;margin-left:8;">';
    if (block.No == block.HeadNo) {
      html += block.Id + '發表了一篇新文章';
      html += '</div>';
    } else {
      var head;
      heads.forEach(function (e) {
        if (e.No == block.HeadNo) {
          head = e;
        }
      });
      html += block.Id + '回應了一篇文章';
      html += '<div style="float:right;overflow:hidden;max-width:400px;height:19px;color:rgb(120,153,34);">';
      html += '>>No.' + head.No + ' ID:' + head.Id + ': '
      html += head.Content.split('\n')[0];
      html += '</div>';
      html += '</div>';
    }
    return html;
  }

  function setupData(id, block) {
    var then = new Date("20" + block.Date);
    var theday = then.getDay();
    var data = block.Date + "(" + weekday[theday] + ")" + block.Time + " ID:" + block.Id + " No." + block.No;
    var html = '<hr style="width:100%;border-right-width:0px;border-bottom-width:0px;">'
    html += '<div>';
    html += '<font id="dialog_title' + id + '" color="#cc1105" size="+1"><b>';
    html += block.Title;
    html += '</b></font> ';
    html += '<font id="dialog_name' + id + '" color="#117743"><b>';
    html += block.Name;
    html += '</b></font> ';
    html += '<font id="dialog_data' + id + '">' + data + '</font>';
    html += '</div>';
    return html;
  }

  function setupContent(id, content) {
    var lines = content.split('\n');
    var html = '<div id="dialog_content' + id + '" class="dialog_content">';
    if (lines.length > 5) {
      var visiable = lines.splice(0, 4).join('<br>');
      var showButton = '<a id="dialog_show_button' + id + '" onclick="showHideContent(' + id + ');" href="#dialog_show_button' + id + '"><br>顯示完整內容</a>';
      var unvisiable = '<span id="dialog_hide_content' + id + '" style="display:none;"><br>' + lines.join('<br>') + '</span>';
      html += visiable + showButton + unvisiable;
    } else {
      html += lines.join('<br>');
    }
    html += '</div>';
    return html;
  }

  function setupPicture(id, picture) {
    if (picture) {
      var picture_no = picture.split('.')[0];
      var komica = 'http://homu.komica.org'
      var org_picture = komica + '/00/src/' + picture;
      var small_picture = komica + '/00/thumb/' + picture_no + 's.jpg';
      var html = '<a id="dialog_img_link' + id + '" target="_blank" href="';
      html += org_picture;
      html += '">';
      html += '<img id="dialog_img' + id + '" class="dialog_img" src="';
      html += small_picture;
      html += '" style="width:125px;">';
      html += '</a>';
      return html;
    } else {
      return '<img id="dialog_img' + id + '" class="dialog_img">';
    }
  }

  var scheme = "ws://";
  var uri = scheme + window.document.location.host + "/";
  var ws = new WebSocket(uri);

  ws.onmessage = function (message) {
    var data = JSON.parse(message.data);
    var news = data.Blocks;
    var heads = data.Heads;
    var html = "";
    var blocks = [];
    news.forEach(function (e) {
      var id = index++;
      html = createDialog(id, e, heads) + html;
      blocks.push("#dialog" + id);
    });
    $("#block-container")[0].innerHTML = html + $("#block-container")[0].innerHTML;
    blocks.forEach(function (e, i) {
      $(e).hide();
      setTimeout(function () {
        $(e).fadeIn();
      }, i * 500);
    });
  };

  ws.onclose = function () {
    var message = '與伺服器失去連線!\n可能為伺服器例行作業，請稍後再重新連接此頁。\n若仍無法開啟網頁，請聯絡網站相關人員。';
    alert(message);
    $("#block-container")[0].innerHTML = message + $("#block-container")[0].innerHTML;
  }
</script>
