<style>
  html {
    width: 99%;
  }
  body {
    width: 100%;
    background-color: rgb(255, 255, 238);
    color: rgb(128, 0, 0);
  }
  .dialog {
    margin: auto;
    margin-top: 5px;
    padding: 3px 10px;
    display: inline-block;
    background-color: rgb(240, 224, 214);
  }

</style>

<div id='block-container'></div>

<!-- <div id="dialog" class="dialog" style="">
  <font id="dialog_title" color="#cc1105" size="+1">
    <b></b>
  </font>
  <font id="dialog_name" color="#117743">
    <b></b>
  </font>
  <font id="dialog_data"></font>
  <blockquote id="dialog_content"></blockquote>
</div> -->

<script>
  var index = 0;
  var weekday = [ "日", "一", "二", "三", "四", "五", "六" ]

  function createDialog(id) {
    var html = '<div id="dialog' + id + '" class="dialog" style="">';
    html += '<font id="dialog_title' + id + '" color="#cc1105" size="+1"><b></b></font> ';
    html += '<font id="dialog_name' + id + '" color="#117743"><b></b></font> ';
    html += '<font id="dialog_data' + id + '"></font>';
    html += '<blockquote id="dialog_content' + id + '"></blockquote>';
    html += '</div>';
    return html;
  }

  function showDialog(id, block) {
    $('#dialog' + id).css("width", "");
    $('#dialog' + id).css("display", "inline-block");
    var then = new Date("20" + block.Date);
    var theday = then.getDay();
    $('#dialog_title' + id)[0].children[0].innerText = block.Title;
    $('#dialog_name' + id)[0].children[0].innerText = block.Name;
    var data = block.Date + "(" + weekday[theday] + ")" + block.Time + " ID:" + block.Id + " No." + block.No;
    $('#dialog_data' + id)[0].innerText = data;
    $('#dialog_content' + id)[0].innerText = block.Content;
    $('#dialog' + id).css("width", ($('#dialog' + id)[0].clientWidth - 19) + "px");
    $('#dialog' + id).css("display", "block");
  }

  var scheme = "ws://";
  var uri = scheme + window.document.location.host + "/";
  var ws = new WebSocket(uri);

  ws.onmessage = function (message) {
    var news = JSON.parse(message.data);
    // console.log(news[0]);
    var id = index++;
    var dialog = createDialog(id);
    // $("#block-container").append(dialog);
    $("#block-container")[0].innerHTML = dialog + $("#block-container")[0].innerHTML;
    showDialog(id, news[0]);
    // $("#block-container").stop().animate({   scrollTop: $('#chat-text')[0].scrollHeight }, 800);
  };
</script>
