<style>
  .dialog {
    margin-top: 5px;
    padding: 3px 10px 10px;
    display: inline-block;
    width: 720px;
    background-color: rgb(240, 224, 214);
  }
  .block-container {
    margin: auto;
    width: 740px;
  }
  .dialog_content {
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 540px;
  }
  .dialog_img {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    float: left;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }

</style>

<div id='block-container' class='block-container'></div>

<script>
  var index = 0;
  var weekday = [
    "日",
    "一",
    "二",
    "三",
    "四",
    "五",
    "六"
  ]

  function createDialog(id, block) {
    var html = '<div id="dialog' + id + '" class="dialog" style="">';
    html += setupData(id, block);
    html += setupPicture(id, block.Picture);
    html += setupContent(id, block.Content);
    html += '</div>';
    return html;
  }

  function showHideContent(id) {
    $('#dialog_show_button' + id).hide();
    $('#dialog_hide_content' + id).show();
  }

  function setupData(id, block) {
    var then = new Date("20" + block.Date);
    var theday = then.getDay();
    var data = block.Date + "(" + weekday[theday] + ")" + block.Time + " ID:" + block.Id + " No." + block.No;
    var html = '<div>';
    html += '<font id="dialog_title' + id + '" color="#cc1105" size="+1"><b>';
    html += block.Title;
    html += '</b></font> ';
    html += '<font id="dialog_name' + id + '" color="#117743"><b>';
    html += block.Name;
    html += '</b></font> ';
    html += '<font id="dialog_data' + id + '">' + data + '</font>';
    html += '</div>';
    return html;
  }

  function setupContent(id, content) {
    var lines = content.split('\n');
    var html = '<div id="dialog_content' + id + '" class="dialog_content">';
    if (lines.length > 4) {
      var visiable = lines.splice(0, 4).join('<br>');
      var showButton = '<a id="dialog_show_button' + id + '" onclick="showHideContent(' + id + ');" href="#dialog_show_button' + id + '"><br>顯示完整內容</a>';
      var unvisiable = '<span id="dialog_hide_content' + id + '" style="display:none;"><br>' + lines.join('<br>') + '</span>';
      html += visiable + showButton + unvisiable;
    } else {
      html += lines.join('<br>');
    }
    html += '</div>';
    return html;
  }

  function setupPicture(id, picture) {
    if (picture) {
      var picture_no = picture.split('.')[0];
      var komica = 'http://homu.komica.org'
      var org_picture = komica + '/00/src/' + picture;
      var small_picture = komica + '/00/thumb/' + picture_no + 's.jpg';
      var html = '<a id="dialog_img_link' + id + '" target="_blank" href="';
      html += org_picture;
      html += '">';
      html += '<img id="dialog_img' + id + '" class="dialog_img" src="';
      html += small_picture;
      html += '" style="width:125px;">';
      html += '</a>';
      return html;
    } else {
      return '<img id="dialog_img' + id + '" class="dialog_img">';
    }
  }

  function setupDialog(id, block) {
    setupData(id, block);
    setupContent(id, block.Content);
    setupPicture(id, block.Picture);
  }

  var scheme = "ws://";
  var uri = scheme + window.document.location.host + "/";
  var ws = new WebSocket(uri);

  ws.onmessage = function (message) {
    var news = JSON.parse(message.data);
    var html = "";
    var blocks = [];
    news.forEach(function (e) {
      var id = index++;
      html = createDialog(id, e) + html;
      blocks.push("#dialog" + id);
    });
    $("#block-container")[0].innerHTML = html + $("#block-container")[0].innerHTML;
    blocks.forEach(function (e) {
      $(e).hide();
      $(e).fadeIn();
    });
  };

  ws.onclose = function () {
    var message = '與伺服器失去連線!\n可能為伺服器例行作業，請稍後再重新連接此頁。\n若仍無法開啟網頁，請聯絡網站相關人員。';
    alert(message);
    $("#block-container")[0].innerHTML = message + $("#block-container")[0].innerHTML;
  }
</script>
