<div id="app" class="block-container">
  <block
    v-for="block in blocks"
    :type="blockType"
    :key="block.number"
    :is-self="block.isSelf"
    :expand=false
    :block="block"
  ></block>
</div>
<%= erb :'component/block' %>
<%= js_tag 'index.js' %>
