<html>
  <head>
    <title>HomuAPI - 綜合</title>
    <meta charset="utf-8"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <% css_list.each do |e| %>
    <%= "<link rel='stylesheet' type='text/css' href='/css/#{e}'>" %>
    <% end %>
  </head>
  <body>
    <div class='head_bar'>
      <div align="right" class='head_btn'>
        [<a href="http://homu.komica.org/00/index.htm" target="_top">回綜合</a>] [<a href="http://homu-homuapi.rhcloud.com/" target="_top">HomuAPI</a>]
      </div>
      <p align="center">
        <font size="5">
          <b>
            <span>綜合-即時訊息(仮)</span>
          </b>
        </font>
      </p>
      <hr width="90%" size="1">
    </div>
    <div style='margin-top:100px;'><%= yield %></div>
  </body>
</html>
