<html>
  <head>
    <title>綜合-即時訊息(仮) - HomuAPI - Komica</title>
    <meta charset="utf-8"/>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="https://rc.vuejs.org/js/vue.js"></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <!-- <script src="https://rc.vuejs.org/js/vue.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <% css_list.each do |e| %>
    <%= "<link rel='stylesheet' type='text/css' href='/css/#{e}'>" %>
    <% end %>
  </head>
  <body style='background-image: url("/bgs/<%= bg %>");'>
    <div class='head_bar'>
      <div class="head_btn" style="float:left;" onmouseover="document.getElementById('about').style.display = 'inline-block';">
        [?]
        <div id="about" class="dialog" style="position:absolute;display:none;width:auto;" onmouseout="document.getElementById('about').style.display = 'none';">
          <b>關於本頁</b>
          <li>GitHub: <a href="https://github.com/Komica20160704/homu-api" target="_blank">https://github.com/Komica20160704/homu-api</a></li>
          <li>聯絡我: <a href="mailto:bluecrazybear@gmail.com">bluecrazybear@gmail.com</a></li>
        </div>
      </div>
      <div class="head_btn" style="float:right;">
        [<a href="http://homu.komica.org/00/index.htm" target="_top">回綜合</a>] [<a href="http://homu-homuapi.rhcloud.com/" target="_top">HomuAPI</a>] [<%= ws_client_count %>]
      </div>
      <p align="center">
        <font size="5">
          <b>
            <span>綜合-即時訊息(仮)</span>
          </b>
        </font>
      </p>
      <hr width="90%" size="1">
    </div>
    <div style='margin-top:65px;'><%= yield %></div>
  </body>
</html>
