<div id="reporter">
  <div class="red"></div>
  <textarea></textarea>
  <button onclick="report()">送出</button>
  <button onclick="window.history.back()" disabled="true">回前頁</button>
</div>

<script>
  var api_url = 'https://script.google.com/macros/s/AKfycbzHiPcLye34IOB_I2KboQXubpIiaXBfRxSlygj0lBQKR_wfAc8/exec'
  $('textarea').attr('placeholder',
    '在此輸入你的意見，像是Bug、新功能或是背景右下角的圖片'
  )
  var report = function() {
    var message = $('textarea').val()
    if (!message) {
      return
    }
    $('textarea').prop('disabled', true)
    $('button').prop('disabled', true)
    $.ajax({
      url: api_url,
      method: 'POST',
      data: {
        message: message,
      },
    }).done(function(e) {
      if (e.success) {
        $('.red').text('資料已送出')
        getReports()
      } else {
        $('.red').text('資料送出失敗')
        $('textarea').prop('disabled', false)
        $('button').prop('disabled', false)
      }
    })
  }

  var getReports = function() {
    $('.dialog').fadeOut()
    $.ajax({
      url: api_url,
      method:"GET",
    }).done(function(e) {
      if (e.success) {
        $('.dialog').remove()
        e.reports.reverse().forEach(function(r) {
          var dialog = $('<div class="dialog" style="display:none">')
          var datetime = $('<div class="datetime">')
          var message = $('<div class="message">')
          var answer = $('<div class="answer">')
          var d = new Date(r.datetime)
          var t = $('<font class="title" size="+1"><b>無題</b></font>')
          var n = $('<font class="name"><b>無名</b></font>')
          datetime.append(t).append(' ').append(n).append(' ')
          datetime.append(d.toLocaleDateString()).append(' ').append(d.toLocaleTimeString())
          dialog.append(datetime).append(message.append(r.message))
          if (r.answer.trim()) {
            dialog.append(answer.append('>>').append(r.answer))
          }
          $('body').append(dialog)
          dialog.fadeIn()
        })
      }
    })
  }

  $(document).ready(getReports)
</script>
