.container {
  padding: 0 15px;
  text-align: center;
}

.hour::after {
  content: '小時';
}

.minute::after {
  content: '分';
}

.second::after {
  content: '秒';
}

.block-container {
  margin-top: 20px;
}

.dialog {
  text-align: left;
}
