#followRes {
  width: 740px;
  margin: auto;
}

#followHead {
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0);
}

#followHead .dialog-img {
  max-width: 250px;
  max-height: 250px;
}

#followHead .dialog-content {
  width: 415px;
}

@media only screen and (max-width: 768px) {
  #followRes {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: auto;
    margin-top: 80px;
  }
}
