.dialog {
    margin-top: 5px;
    padding: 3px 10px 10px;
    display: inline-block;
    width: 720px;
    background-color: rgb(240, 224, 214);
}

.dialog.head {
  background-color: transparent;
}

.dialog .title {
  color:rgb(204,17,5);
}

.dialog .name {
  color:green;
}

.block-container {
    margin: auto;
    width: 740px;
}

.dialog_content {
    word-wrap: break-word;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 540px;
}

.dialog_img {
  position: relative;
  cursor: pointer;
  float: left;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  max-width: 125px;
  max-height: 125px;
}

.small {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.split_line {
  width: 100%;
  border-right-width: 0;
  border-bottom-width: 0;
}

.head_block {
  float: right;
  overflow: hidden;
  max-width: 400px;
  height: 20px;
  color: rgb(120, 153, 34);
}

.reuse {
  color:rgb(120,153,34);
}

#followRes {
    display: none;
    position: fixed;
    width: 320px;
    height: 90vh;
    border: 5px;
    border-left: 0px;
    border-bottom: 0px;
    border-style: solid;
    background: rgb(255, 255, 238);
    overflow: scroll;
    overflow-x: hidden;
    left: 0px;
    bottom: 0px;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
  body {
    width: 90%;
  }
  .block-container {
    width: 100%;
    margin-top: 80px;
  }
  .dialog {
    width: 100%;
  }
  .dialog_content {
    width: 100%;
  }
  .title {
    margin-top: 30px;
  }
}

.japariman {
  height: 17px;
  vertical-align: text-bottom;
}
