html {
  width: 99%;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 238);
  color: rgb(128, 0, 0);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.title {
  font-size: 24px;
  text-align: center;
  color: rgb(128, 0, 0);
}

h1.title > a {
  text-decoration: none;
  color: inherit;
}

.head_bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 238);
  background: -moz-linear-gradient(top, rgba(255, 255, 238, 1) 90%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 238, 1) 90%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 238, 1) 90%, rgba(255, 255, 255, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

.head_btn {
  position: fixed;
  right: 0px;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-right: 64px;
}

.head_btn a[href="https://japariman.herokuapp.com/"] {
  display: inline-flex;
  vertical-align: sub;
}

.japariman {
  width: 16px;
  height: 20px;
}

.banner {
  display: none;
  z-index: 100;
  padding: 5px;
  background: #f0e0d6;
  position: fixed;
  left: 20px;
  top: 10px;
}

#new_host + #support_hatobatsugu {
  top: 50px;
}

.main {
  margin-top: 85px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  html {
    width: 100vw;
  }

  body {
    margin: 0;
    background-size: contain;
  }

  .banner {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .banner .fa-times {
    float: right;
    line-height: 22px;
    font-size: 1.33333333em;
    vertical-align: -15%;
  }

  .main {
    margin-top: 0px;
  }

  .head_bar {
    position: sticky;
    padding-bottom: 10px;
  }

  .head_bar hr {
    margin-bottom: 0;
  }

  .head_btn {
    position: initial;
    padding: 5px 10px 0 10px;
    margin: 0 0 -10px 0;
  }

  .head_btn span {
    display: inline-block;
  }
}
