.dialog {
  margin-top: 5px;
  padding: 3px 10px 10px;
  display: inline-block;
  width: 720px;
  background-color: rgb(240, 224, 214);
}

.dialog.head {
  background-color: transparent;
}

.dialog .title {
  color:rgb(204,17,5);
}

.dialog .name {
  color:green;
}

.block-container {
  margin: auto;
  width: 740px;
}

.dialog-content {
  word-wrap: break-word;
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 540px;
}

.dialog-img {
  position: relative;
  cursor: pointer;
  float: left;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  max-width: 125px;
  max-height: 125px;
}

.dialog.head .dialog-img {
  max-width: 250px;
  max-height: 250px;
}

.dialog.head .dialog-content {
  width: 415px;
}

.small {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

.split_line {
  width: 100%;
  border-right-width: 0;
  border-bottom-width: 0;
}

.head_block {
  float: right;
  overflow: hidden;
  max-width: 400px;
  height: 20px;
  color: rgb(120, 153, 34);
}

.reuse {
  color:rgb(120,153,34);
}

@media only screen and (max-width: 768px) {
  html {
    width: 100vw;
  }
  body {
    margin: 0;
  }
  .block-container {
    width: auto;
    padding: 0 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }
  .dialog {
    width: auto;
  }
  .dialog-content {
    width: auto;
  }
  .title {
    margin-top: 30px;
  }
  #id-hider {
    display: none;
  }
}
