<script type="text/template" id="block-template">
  <div :class="className">
    <div class="message">
      <template v-if="!isFull"></template>
      <template v-else-if="isHead">
        {{ block.id }}發表了一篇<b><a :href="headLink" target="_blank">新文章</a></b>
        [<a :href="followLink" target="_blank">追蹤</a>]
      </template>
      <template v-else-if="isSelf">
        {{ block.id }}回應了自己的<b><a :href="headLink" target="_blank">討論串</a></b>
        [<a :href="followLink" target="_blank">追蹤</a>]
      </template>
      <template v-else>
        {{ block.id }}回應了<b><a :href="headLink" target="_blank">討論串</a></b>
        [<a :href="followLink" target="_blank">追蹤</a>]
      </template>
      <div v-if="!isHead && block.headContent" class="head-block">
        &gt;&gt;{{ block.headNumber }} {{ block.headId }}: {{ block.headContent.split('\n')[0] }}
      </div>
    </div>
    <hr v-if="isFull" class="split-line">
    <div>
      <span class="title"><b>{{ block.title }}</b></span>
      <span class="name"><b>{{ block.name }}</b></span>
      {{ timestamp() }}
      <span v-if="block.id">ID:{{ block.id }}</span>
      No.{{ block.number }}
    </div>
    <div v-if="isWebm()" class="dialog-img-link" target="_blank"
      :data-video="pictureUrl()" onclick="television.loadVideo(this)">
      <img class="dialog-img" :src="smallPictureUrl()"/>
      <div class="dialog-img-after"></div>
    </div>
    <div v-else-if="hasPicture" class="dialog-img-link" target="_blank"
      :data-image="pictureUrl()" onclick="television.loadImage(this)">
      <img class="dialog-img" :src="smallPictureUrl()"/>
      <div class="dialog-img-after"></div>
    </div>
    <div v-else class="dialog-img-link">
      <img class="dialog-img small"/>
    </div>
    <div class="content">
      <template v-if="expanded || lines.length <= 6">
        <div v-for="line in lines" :class="lineClass(line)">
          {{ line }}
        </div>
      </template>
      <template v-else>
        <div v-for="line in lines.slice(0, 4)" :class="lineClass(line)">
          {{ line }}
        </div>
        <a href="javascript:void(0)" @click="expandContent">
          顯示完整內容
        </a>
      </template>
    </div>
  </div>
</script>

<script>
  var Block = Vue.component('block', {
    template: '#block-template',
    props: {
      type: {
        type: String,
        default: 'small',
      },
      isSelf: {
        type: Boolean,
        default: false,
      },
      expand: {
        type: Boolean,
        default: true,
      },
      fadeIn: {
        type: Boolean,
        default: false,
      },
      block: {
        type: Object,
        required: true,
      },
    },
    data: function() {
      var isHead = this.block.headNumber == this.block.number
      var className = ['dialog']
      if (isHead) {
        className.push('head')
      }
      if (this.fadeIn) {
        className.push('fade-in')
      }
      return {
        className: className.join(' '),
        isHead: isHead,
        isFull: this.type == 'full',
        headLink: Block.headUrl + this.block.headNumber,
        followLink: '/follow/' + this.block.headNumber,
        lines: this.block.content.split('\n'),
        expanded: this.expand,
      }
    },
    created: function() {
      this.hasPicture = !!this.block.picture
    },
    methods: {
      expandContent: function() {
        this.expanded = true
      },
      isWebm: function() {
        if (this.hasPicture) {
          return this.block.picture.split('.')[1] == 'webm'
        }
      },
      pictureUrl: function() {
        if (this.hasPicture) {
          return Block.imageHost + '/00/src/' + this.block.picture
        }
      },
      smallPictureUrl: function() {
        if (this.hasPicture) {
          var picture = this.block.picture.split('.')[0] + 's.jpg'
          return Block.imageHost + '/00/thumb/' + picture
        }
      },
      timestamp: function() {
        var date = moment(this.block.postAt)
        return date.format('YY/MM/DD(dd)HH:mm:ss')
      },
      setupWeekday: function(date) {
        var then = new Date(date)
        var day = then.getDay()
        return Block.weekDays[day]
      },
      lineClass: function(line) {
        var classes = ['line']
        if (line.startsWith('>')) {
          classes.push('reuse')
        }
        return classes.join(' ')
      },
    },
  })
  Block.weekDays = ['日', '一', '二', '三', '四', '五', '六']
  Block.imageHost = '//gaia.komica.org'
  Block.headUrl = 'https://gaia.komica.org/00/pixmicat.php?res='
</script>
